
label {
  color: #fff;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  color: #fff;
  background-color: #00a6ff;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #06a8ff;
  color: #fff
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

h2 {
  color: #fff
}
